<md-tab-group>
    <md-tab label="Leadsheet">
        <p><br/>
            <md-toolbar>Control Details</md-toolbar>
            <md-input-container>
                <input md-input placeholder="Control Name">
            </md-input-container>
            <br/>
            <md-input-container>
                <input md-input placeholder="Control Number">
            </md-input-container>
            <br/>
            <md-input-container>
                <input md-input placeholder="Control Description">
            </md-input-container>
        </p>
    </md-tab>
    <md-tab label="Testing">
        <md-card>
            <md-card-title>Test work</md-card-title>
            <md-card-subtitle>This is where the test work would go</md-card-subtitle>
        </md-card>
    </md-tab>
</md-tab-group>